table.fancy {
    margin: 1em 1em 1em 0;
    background: whitesmoke;
    border-collapse: collapse;    
}
table.fancy th, table.fancy td {
    border: 1px silver gainsboro;
    padding: 0.2em;
}
table.fancy th {
    background: gainsboro;
    text-align: left;
}
table.fancy tr:hover td {
    background: mintcream !important;
}
table.fancy caption {
    margin-left: inherit;
    margin-right: inherit;
}