table.fancy {
    margin: 2em 2em 2em 0;
    background: whitesmoke;
    border-collapse: collapse;
    overflow: hidden;
}
table.fancy th, table.fancy td {
    border: 1px;
    border-style: solid;
    border-color: silver gainsboro;
    padding: 2px;
}
table.fancy th {
    background: gainsboro;
    text-align: left;
}
table.fancy tr:hover td {
    background: lightgreen!important;
}
table.fancy caption {
    margin-left: inherit;
    margin-right: inherit;
}